{% extends "basic_template.html" %}
{% block title %}Sudo Social - Sudo make me social{% endblock %}
{% block content %}
<h1>sudo social</h1>
<h2>Take control of your social identity</h2>
<p>sudo social is a Mozilla labs exeriment around social streams.</p>
<ul>
    <li>Check out a <a href="/u/pattyokdemo/s/home">basic HomeStream</a></li>
    <li>Then take control! Here is a <a href="/u/ozten/s/home">customized HomeStream</a></li>
    <li>Okay, <a href="/auth">create your own HomeStream</a></li>
</ul>
{% endblock %}