{% extends "basic_template.html" %}
{% block title %}sudoSocial - sudo make me social{% endblock %}
{% block content %}
<div id="content">
    <div id="auth"><a href="https://sudosocial.me/auth">Login</a></div>
    <h1 class="logo"><strong><code>sudo</code>Social</strong></h1>
    <div class="tagline">Take control of your stream</div>
    <div class="copy">
    <ul id="call-to-action">
        <p><strong><code>sudo</code>Social</strong> is an
        <!-- a href="http://mozillalabs.com/conceptseries/">Mozilla labs</a --> exeriment around
        building a stream publishing application. You can use sudoSocial
        to edit and control your homestream.</p>
    
        <li>Check out a <a href="/u/pattyokdemo/s/home">basic HomeStream</a></li>
        <li>Next, a customized stream, embedded via a script tag: <a href="http://ozten.com/index-demo.html">customized HomeStream</a></li>
        <li>Okay, <a href="https://sudosocial.me/auth">create your own HomeStream</a> and take control!</li>
    </ul>
    <div id="learn-more-sidebar">
        <!-- p class="screencast"><object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11819816&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11819816&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object></p>
<p><a href="http://vimeo.com/11819816">SudoSocial - Introduction</a> from <a href="http://vimeo.com/mozlabs">Mozilla Labs</a> on <a href="http://vimeo.com">Vimeo</a>.</p -->
        <p>Learn more:
            <ul><li><a href="http://ozten.com/psto/2010/05/23/checkout-sudosocial-me-a-new-stream-editor/">Initial blog post</a>
        </li>
        <li>The project's <a href="http://github.com/ozten/sudosocial#readme">README</a> file</li>
        <li><a href="http://ozten.com/psto/2010/05/23/4-apps-that-are-similar-to-sudosocial/">4 Apps that are Similar to sudoSocial</a>
        </ul>
        <!-- a href="http://mozillalabs.com/conceptseries/2010/05/17/introducing-sudosocial-me">Introducing sudosocial.me</a -->
        </p>
    </div>
    </div>

</div><!-- /content -->
{% endblock %}
