{% extends "template.html" %}
{% block title %}SudoSocial Stream Editor{% endblock %}

{% block sidebar %}
<ul id="stream-nav" class="nav">
    <li>New Stream</li>
    <li>All Streams</li>
</ul>
<p><b>Note:</b> Deleting a feed will remove all of it's entries.</p>
{% endblock %}

{% block content %}
<h1>Stream Editor</h1>
<div id="stream-editor-panel">
    <ul class="tabs">
        <li id="edit-stream" class="tab editor"><a href="#">Edit </a><strong>{{stream.name}}</strong> Stream</li>
        <li id="design-stream" class="tab design active-tab"><a href="#">Design</a></li>
        <li><a id="preview" href="/u/{{username}}/s/{{stream.name}}" target="_new" title="View your currenly published Stream in a new window">View</a></li>
    </ul>
    <div id="edit-stream-panel" class="panel">
<h2 class="new-feed">Add A New Feed</h2>
<p><img src="/static/img/feed-icon-14x14.png" width="14" height="14" alt="Feed Icon" /> Paste in the url to any Atom or RSS feed.</p>

<form id="add-url-form" action="/manage/urls/{{request.user.username}}" method="post">
<p><label for="id_url">Url:</label> <input id="id_url" type="text" name="url" maxlength="2048" /></p>
<p><label for="id_streams">Streams:</label>
    <input type="hidden" name="streams" id="id_streams" value="home" /></p>
<input type="submit" value="Add Feed" />
</form>



    <h2>Stream Sources</h2>
    <ul id="user_streams">
        {%  for feed in feeds %}
            <li>
                <a href="{{ feed.url }}" class="stream-feed-source"> {% if feed.title %}{{ feed.title }}{% else %} {{ feed.url }} {% endif %}</a>
                <div class="feed-entries-visible-default {% if feed.entries_visible_default %}.shown{% else %}.hidden{% endif %}"
                     title="New Items are {% if feed.entries_visible_default %} shown automatically {% else %} hidden until shown individually {% endif %}">
                </div>
                <!--a href="../url/{{username}}/{{feed.pk}}">Edit</a -->
                <a href="{{ feed.pk }}" class="feed-delete" title="Delete this feed.">Delete</a>
            </li>
        {% empty %}
            <li id="no-stream-feed-blurb"><a href="#" class="stream-feed-source"></a><a href="{{ feed.pk }}" class="feed-delete" title="Delete this feed."></a>You have no stream sources, add a new feed.</li>
        {%  endfor %}
        
        <li id="base-stream-feed-link" style="display:none"><a href="{{ feed.url }}" class="stream-feed-source">sample</a>
            <div class="feed-entries-visible-default shown" title="New Items are shown automatically"></div>
            [<a href="#" class="feed-delete" title="Delete this feed.">x</a>]</li>
    </ul>
    <p>After 5 minutes, Feed entries should start appearing in <a href="/u/{{username}}/s/{{stream.name}}" target="_new" title="View your currenly published Stream in a new window">your stream.</a></p>




        <div id="stream-preview">
            <hr />            
            {% for entry, entry_html in entry_pair %}                
                <div class='feed-entry'>
                    <a class="display_entry {% if entry.visible %}entry-visible{% else %}entry-hidden{% endif %}" href="/manage/entry/{{ entry.id }}">{% if entry.visible %}Hide Entry{% else %} Show Entry {% endif %}</a>
                    {{ entry_html }}
                </div>
            {% empty %}
                <div class='default'>Bummer, No Entries</div>
            {% endfor %}
        </div><!-- /stream-preview -->
    </div><!-- /edit-stream -->
    <div id="design-stream-panel" class="panel">
        <form id="design-form" action="/manage/stream/design" method="post">
        <div class="save"><input type="submit" id="design-submit1" value="Save" /></div>
        <h2>CSS override</h2>
        <p>Put up a CSS file anywhere on the internet, and you can take control of your design</p>        
        
        <input type="radio" id="css_type_default" name="css_type" value="default" {% ifequal preferences.css_url 'default' %} checked="checked" {% endifequal %} />
        <label for="css_type_default">Default</label>
        
        <input type="radio" id="css_type_url" name="css_type" value="my_url" {% ifnotequal preferences.css_url 'default' %} checked="checked" {% endifnotequal %} />
        <label for="css_type_default">Custom</label>
        <label for="css_url">URL</label>
        <input type="url" id="css_url" name="css_url" value="{% ifnotequal preferences.css_url 'default' %}{{preferences.css_url}}{% endifnotequal %}" />
        
        <h2>JavaScript override</h2>
        <p>Put up a JS file anywhere on the internet, and you can take control of the behavior of your stream</p>
        
        <input type="radio" id="js_type_default" name="js_type" value="default" {% ifequal preferences.javascript_url 'default' %} checked="checked" {% endifequal %} />
        <label for="js_type_default">Default:</label>
        
        <input type="radio" id="js_type_url" name="js_type" value="my_url" {% ifnotequal preferences.javascript_url 'default' %} checked="checked" {% endifnotequal %} />
        <label for="js_type_url">Custom url:</label>
        <input type="url" id="js_url" name="js_url" value="{% ifnotequal preferences.javascript_url 'default' %}{{preferences.javascript_url}}{% endifnotequal %}" />
        
        <h2>Processing.js</h2>
        <p><a href="http://processing.org">Processing</a> is a creative environment for hacking your stream.
        <a href="http://processingjs.org">Processing.js</a> brings this generative power to the web. Paste your Processing code in below,
        and it will paint the <code>processing-canvas</code> canvas behind your stream.</p>
        <textarea id="processing" name="processing" cols="80" rows="30">{{preferences.processing_js}}</textarea>
        <div class="save"><input type="submit" id="design-submit2" value="Save" /></div>
        </form>
    </div><!-- /design-stream -->
</div><!-- /stream-editor-panel -->
<div id="other-sources-panel">
    <h2>Unused Sources</h2>

    <ul id="user_other_feeds">
    {% for feed in unused_feeds %}
        <li><a href="{{ feed.url }}" class="other-feed-source"> {{ feed.url }}</a> [<a href="{{ feed.pk }}" class="feed-delete">x</a>]</li>
    {% empty %}
        <li>All of your Sources are used in this &quot;{{stream.name}}&quot; stream.</li>
    {% endfor %}
    </ul>
</div><!-- /other-sources-panel -->
<script src="/static/js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="/static/js/stream_editor.js" type="text/javascript"></script>
{% endblock %}