<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}SudoSocial{% endblock %}</title>
    <link href="/static/css/editor-stylo.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/static/img/favicon.png" type="image/png"> 
    </head>
    <body>
        <div id="heading">
            <div id="auth">Hey, <span id="auth-username">{{ username }}</span> <a href="/auth/logout" class="auth logout">Logout</a> or <a href="/auth/profile/{{username}}">Edit Profile</a></div>
            <br />
        </div>
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}
           <br />
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16311800-1");
pageTracker._trackPageview();
} catch(err) {}</script>
    </body>
</html>