<div class="feed-identica {{hostname_css_class}}">
    {% if show_everything %}<img class="favicon" src="http://identi.ca/favicon.ico" />
    Identica at {{ published_date }} {% if  time_ago %} and then updated {{ time_ago }} later {% endif %}
   by {{raw.author}}
   {% endif %}
    
    <div class="status">
    {{ status|safe }} <a  class="permalink" href="{{permalink}}">#</a>
    </div>
    {% if tags %}
    <div class="tag-area">
        <h6 class="tag-heading">Tags:</h6>        
        <ul class="tags">
            {% for tag in tags %}
                <li>{{tag.tag}}</li>
            {% endfor %}
        </ul>        
    </div>
    {% endif %}
        <hr />
</div>