{% extends "basic_template.html" %}
{% block title %} {{username|title}}'s {{ stream_name|title  }} stream on sudoSocial{% endblock %}
{% block content %}
{{ profile|safe }}
<canvas id="processing-canvas"></canvas>
<div id="viewport">
    <div id="content">
    {{page_props.before_stream_html_area|safe}}
{% include "lifestream/display_feed_entries.html" %}
    {{page_props.after_stream_html_area|safe}}
  </div><!-- /#content -->
</div><!-- /#viewport -->

<script type="text/javascript" src="/static/js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="/static/js/lib/processing-0.8.min.js"></script>
<script type="text/javascript" src="{{javascript_url}}"></script>

<script type="application/processing">
{{processing_js|safe}}
</script>
{% endblock %}<!-- /content -->