{% load common_tags %}
<div class="profile_blurb">
    <div id="hcard-{{a_user.first_name}}-{{a_user.last_name}}" class="vcard profile_image">
        <img id="profile_image" src="{{ avatar_src }}" alt="Profile Photo of {{ username }}"  class="photo"/>
        {% if show_fn %}
        <a class="url fn" href="http://sudosocial.me/u/{{a_user.username}}" rel="me">{{a_user.first_name}} {{a_user.last_name}}</a>
        {% else %}
        <a class="url username" href="http://sudosocial.me/u/{{a_user.username}}" rel="me">{{a_user.username}}</a>
        {% endif %}
        {% if preferences.publish_email %}
           <a class="email" href="mailto:{{a_user.email}}">{{a_user.email}}</a>
        {% endif %}
        
        
        
    </div><!-- /hcard-->
    {% if show_social_identities %}
    <div class="social_identities">
        <h5>Who am I lately?</h5>
        <ul>
        {% for identity in identities %}
            <li><a class="social_identity" href="{{ identity.tag }}">{{ identity.name }}</a>({{ identity.count }})</li>
            
        {% endfor %}
        </ul>
    </div><!-- /social_identities-->
    {% endif %}
    <div class="followme">
        <h5>Follow {{user.first_name|title}} on the Interwebs:</h5>
        <ul>
        {% for source in sources %}
            <li><a class="feed_source" href="{{ source.url }}">{{ source.title }}</a></li>            
        {% endfor %}
        </ul>
    </div><!-- /followme -->
    <div class="powered_by">
        <h5 class="logo"><strong><code>sudo</code>Social</strong></h5>
        <a href="{% secure %}{% url confirm_profile %}{% endsecure %}">Take control of your stream</a>
    </div>
</div><!-- /profile_blurb -->
