###############################################################################                                                                                                                                 
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE                                                                                                                                         
#                                                                                                                                                                                                               
# Last Modified: 05-31-2007                                                                                                                                                                                     
#                                                                                                                                                                                                               
# NOTE: This config file is intended to serve as an *extremely* simple                                                                                                                                          
#       example of how you can create configuration entries to monitor                                                                                                                                          
#       the local (Linux) machine.                                                                                                                                                                              
#                                                                                                                                                                                                               
###############################################################################                                                                                                                                 




###############################################################################                                                                                                                                 
###############################################################################                                                                                                                                 
#                                                                                                                                                                                                               
# HOST DEFINITION                                                                                                                                                                                               
#                                                                                                                                                                                                               
###############################################################################                                                                                                                                 
###############################################################################                                                                                                                                 

# Define a host for the local machine                                                                                                                                                                           

define host{
        use                     linux-server            ; Name of host template to use
                                                        ; This host definition will inherit all variables that are defined
                                                        ; in (or inherited by) the linux-server host template definition.
        host_name               mozilla.com.ubuntu      ; this and next line were localhost
        alias                   mozilla.com.ubuntu
        address                 172.16.46.100           ; 127.0.0.1
        }

###############################################################################                                                                                                                                 
###############################################################################                                                                                                                                 
#                                                                                                                                                                                                               
# SERVICE DEFINITIONS                                                                                                                                                                                           
#                                                                                                                                                                                                               
###############################################################################                                                                                                                                 
###############################################################################                                                                                                                                 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       mozilla.com.ubuntu
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }


# check_mysql_query -d patchouli -u root -p pass -q "SELECT TIME_TO_SEC(TIMEDIFF(NOW(), MAX(created_date))) FROM lifestream_entry;" -w @690000:700000 -c @700001:
define service{
        use                             local-service         ; Name of service template to use
        host_name                       mozilla.com.ubuntu
        service_description             Recent Entries Exists
	    check_command			        my_check_mysql_query!"SELECT TIME_TO_SEC(TIMEDIFF(NOW(), MAX(created_date))) FROM lifestream_entry"!@690000:700000!@700001:
        }