<div class="feed-generic"><img class="favicon" src="/static/img/favicon.png" /> {% if show_everything %}
{{website_name}}
   Generic {{ published_date }} {% if  time_ago %} and then updated {{ time_ago }} later {% endif %}
   by
   {% if raw.author_detail %}
     {% if raw.author_detail.name %}
      {{raw.author_detail.name}}
      {% else %}
      {{raw.author_detail}}
     {% endif %}
   {% else %}
     {{raw.author}}
   {% endif %}
      
   {% endif %}
   <h3>{{title}}</h3>
    {{ entry|safe }}
    <a class="permalink" href="{{link}}">#</a>
    <ul class="tags">
        {% for tag in tags %}
            <li>{{tag.tag}}</li>
        {% endfor %}
    </ul><hr />
</div>