<div class="feed-generic">
    {% if show_everything %}<img class="favicon" src="/static/img/favicon.png" />
{{website_name}} {{ published_date }} {% if  time_ago %} and then updated {{ time_ago }} later<!-- TODO use |timesince django template --> {% endif %}
   by
   {% if raw.author_detail %}
     {% if raw.author_detail.name %}
      {{raw.author_detail.name}}
      {% else %}
      {{raw.author_detail}}
     {% endif %}
   {% else %}
     {{raw.author}}
   {% endif %}
      
   {% endif %}
   <h3>{{title}}</h3>
    {{ entry|safe }}
    <div class="tag-area">
    <ul class="tags">
        <h6 class="tag-heading">Tags:</h6>        
        {% for tag in tags %}
            <li>{{tag.tag}}</li>
        {% endfor %}
    </ul>
    </div>
    <a class="permalink" href="{{link}}">#</a>    
    <hr />
</div>