<div class="feed-generic {{hostname_css_class}}">
    {% if show_everything %}<img class="favicon" src="/static/img/favicon.png" />
{{website_name}} {{ published_date }} {% if  time_ago %} and then updated {{ time_ago }} later<!-- TODO use |timesince django template --> {% endif %}
   by
   {% if raw.author_detail %}
     {% if raw.author_detail.name %}
      {{raw.author_detail.name}}
      {% else %}
      {{raw.author_detail}}
     {% endif %}
   {% else %}
     {{raw.author}}
   {% endif %}
      
   {% endif %}
   <h3>{{title|safe}}</h3>
    {{ entry|safe }}
    <div class="tag-area">
    <h6 class="tag-heading">Tags:</h6>        
    <ul class="tags">        
        {% for tag in tags %}
            <li>{{tag.tag}}</li>
        {% endfor %}
    </ul>
    </div><!-- /tag-area -->
    <a class="permalink" href="{{permalink}}">#</a>    
    <hr />
</div><!-- /feed-generic -->