{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Sign in with your OpenID</title>
<link rel="icon" href="/static/img/favicon.png" type="image/png">
<link href="/static/css/general-site.css" type="text/css" rel="stylesheet">
<style type="text/css">
input.openid {
  background: url({% url openid-logo %}) no-repeat; 
  background-position: 0 50%;
  padding-left: 16px;
}
</style>
</head>
<body>
  
<div id="content">
  <h1 class="logo"><strong><code>sudo</code>Social</strong></h1>
    <h2 class="tagline">Take control of your stream</h2>
    
  <div class="login">
<h1>Sign in with your OpenID</h1>
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form.openid_identifier.errors %} 
		<span class="error">{{ form.openid_identifier.errors|join:", " }}</span>
	{% endif %}
	{% if form.next.errors %} 
		<span class="error">{{ form.next.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
<form id="fopenid" name="fopenid" action="{{ action }}" method="post">
	<fieldset>
		<legend>{% trans "Sign In Using Your OpenID" %}</legend>
        <div class="form-row">
            <label for="id_openid_identifier">{% trans "OpenID:" %}</label><br />
            {{ form.openid_identifier }}
        </div>
        <div class="submit-row "><input name="bsignin" type="submit" value="{% trans "Sign in" %}"></div>

 {% if next %}
	<input type="hidden" name="next" value="{{ next }}" />
 {% endif %}

	</fieldset>
</form>
<div class="">
  <h2>What is an OpenId?</h2>
  <p><a href="http://openid.net/get-an-openid/">You may already have an OpenID</a>.
  Basically it's a way to use new websites without creating another username/password.</p>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16311800-1");
pageTracker._trackPageview();
} catch(err) {}</script>
    </div><!-- .login -->
</div> <!-- #content-->
</body>
</html>
