/* TODO break up into chunks and @import from editor-stylo.css */

div.logo a { 
    padding-left: 67px;
    background-image: url('/static/img/riverdam_logo_62x35.jpg?embed=true');
    background-repeat: no-repeat;
}
div.logo {
    font-size: 300%;
    line-height: 1;
}
div.logo, div.logo a {
    color: #1046b0;
    font-weight: bold;
    text-decoration: none;
}
.tagline {
    font-size: 110%;
    font-style: italic;
    line-height: 1;
    margin-top: 0px;
    padding-top: 0px;
    float: left;
}
.logo-panel { float: left; }
.logo-panel .logo { font-size: 200%; float: left; }
.logo-panel .tagline { font-size: 90%; line-height: 3.0; }

#auth {
    
    float: right;
    padding: 0.3em;    
}
#heading {

    width: 100%;
}
#sidebar {
    position: absolute;
    width: 200px;
}
#content {
    margin-left: 180px;
}
#content > h1:first {
    padding-top: 0px;
    margin-top: -30px;
    clear: both;
}
#edit-stream-panel {
    float: left;
    width: 800px;
}
#feed_panel { width: 1030px; }
.streams-panel { float: left; width: 815px; border: dotted 1px grey; } /* contains .stream-metadata-panel and .stream-preview-panel */

.stream-metadata-panel { width: 300px; float: left; }
.stream-preview-panel, #stream-preview { width: 500px; float: left; overflow: scroll; margin-left: 5px; padding-right: 10px;}

.feed-entry hr { display: none; }
.feed-entry {
    border: solid 1px #666;
    border-top: solid 3px #333;
    border-right: solid 2px #333;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;    
    margin-bottom: 10px;
    max-height: 400px;
    
    overflow: auto;
    padding: 5px;
}

    .tabs li {
        
        float: left;
        margin-right: 0.5em;
        padding: 0.2em 0.5em;
        list-style: none;
        
        z-index: 2;
    }
    .tabs li.tab {
        background-color: #EEE;        
        border: solid 1px #000;
    }
    
    .tabs li.active-tab {
        border-bottom: none;
        background-color: #FFF;
    }
    .panel { border: solid 1px #CCC; clear: left; position: relative; top: -1px; z-index: 1; padding: 0em 1em;}
    h2 { clear: left;}
#other-sources-panel {

    width: 300px;
    float: right;
}
#design-stream-panel .save, #page-widgets-panel .save { float: right; margin: 1em 1em 0em 0em }/* text-align: right; */
                                                             
#page-widgets-panel label { font-weight: bold; font-size: 115%; }
#page-widgets-panel textarea { width: 600px; height: 300px; margin:10px}
#page-widgets-panel strong { display: block; }
.checkbox-label {font-weight: bold;}
#page-widgets-panel label.checkbox {font-weight: normal; font-size: 100%;}
br, .optional-widget { clear: both; }

.display_entry {
    float: right;
}

.feed-entries-visible-default {
    width: 16px;
    height: 16px;
    border: 1px solid #333;
    display: inline-table;
}
feed-entries-visible-default.hidden {
    background-color: #666;
}
feed-entries-visible-default.shown {
    background-color: #CCC;
}
div.entry-hidden {
    background-color: #CCC;
    color: #333;
}
fieldset, .field {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    margin: 10px auto 10px auto;
    padding: 10px;
    width: 650px;
}
#manage-page-widgets fieldset, 
.optional-text-widget { margin-left: 0px; margin-right: 0px; }
input.url {
    width: 600px;
}

.user_streams li { line-height: 2.2em; }