#feed_preview_source { display: none; }
.current { font-weight: 600; }
#feed_properties { width: 500px;
border: solid 1px grey;
float: left; 
}
#feed_preview { width: 500px;
border: solid 1px grey;
float: left; 
}
.checkbox-panel { line-height: 2.5; padding: 10px; }
.checkbox-disabled, .checkbox-disabled input { background-color: #DDD; color: #333; display: }

