<div class="feed-twitter"> 
    {% if show_everything %}<img class="favicon" src="http://twitter.com/favicon.ico" /> Twitter  {{ published_date }}
    {% if  time_ago %} and then updated {{ time_ago }} later {% endif %}
    by {{tweeter}}
   {% endif %}
    <!-- a href="http://twitter.com/{{tweeter}}">{{tweeter}}</a -->
    <div class="tweet">
    {{ tweet|safe }} 
    </div>
    {% if tags %}
    <div class="tag-area">
        <h6 class="tag-heading">Tags:</h6>        
        <ul class="tags">
            {% for tag in tags %}
                <li>{{tag.tag}}</li>
            {% endfor %}
        </ul>        
    </div>
    {% endif %}
    <a href="{{permalink}}">#</a><hr />
</div>