<div class="feed-flickr {{hostname_css_class}}">
    {% if show_everything %}
    <img class="favicon" src="http://flickr.com/favicon.ico" /> Flickr  {{ published_date }}
    {% if  time_ago %} and then updated {{ time_ago }} later {% endif %}
    by {{raw.author_detail.name}}
   {% endif %}
    <h4 class="title">{{title}}</h4>
    <div class="description">{{ content|safe }}</div>
    {% if tags %}
    <div class="tag-area">
        <h6 class="tag-heading">Tags:</h6>
        <ul class="tags">
            {% for tag in tags %}
                <li>{{tag.tag}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <a href="{{permalink}}" class="permalink">#</a><hr />
</div>