{% extends "basic_template.html" %}
{% block content %}

<div id="content">
    
<h1 class="logo"><a href="/"><strong><code>sudo</code>Social</strong></a></h1>
    <div class="tagline">Take control of your stream</div>
<div id="confirm_profile">
<h1>Delete All of Your Data</h1>
<form action="" method="post">
<p>You've requested to delete your profile and all of your streams. <strong>Peace Out</strong>!</p>
<button>Confirm Delete Everything</button>
</form>
    <div class="cancel-link"><a href="/">What? Get me out of here</a></div>
    </div>
</div>
{% endblock %}