{% extends "basic_template.html" %}
{% load common_tags %}
{% block content %}
<div id="content">

<h1 class="logo"><a href="/"><strong><code>sudo</code>Social</strong></a></h1>
    <div class="tagline">Take control of your stream</div>
    
<div id="confirm_profile">
{% if show_delete %}
<h1>Edit Your Profile</h2>
{% else %}
<h1>Welcome, did we get your profile info right?</h2>
{% endif %}
{% if error %}
  <div class="error-message"><strong>{{error}}</strong></div>
{% endif %}
<form id="confirm_profile" action="{% secure %} {% url confirm_profile %} {% endsecure %}" method="post">
<fieldset class="required"><legend>Required</legend>
    <div id="profile-image"><img src="{{gravatar}}" /><button>Refresh Avatar</button><p class="note">Your profile image is provided by <a href="http://gravatar.com/">Gravatar</a> based on your email address.</div>
<div><label for="username">Username:</label><input type="text" name="username" id="username" value="{{username}}" autofocus required />*</div>
<div><label for="email">Email:</label><input type="email" name="email" id="email" value="{{email}}" required />*</div>
<label for="publish_email">Display email address publicly:</label> <input type="checkbox" id="publish_email" name="publish_email" value="true" {{publish_email_flag}} />
</fieldset>
<fieldset><legend>Optional Full Name</legend>
<label for="first_name">First Name:</label><input type="text" name="first_name" id="first_name" value="{{first_name}}" />
<label for="last_name">Last Name:</label><input type="text" name="last_name" id="last_name" value="{{last_name}}" />
<p class="note">Note: You're full name will be displayed. Leave it blank if you don't want this data to be public.</p>
</fieldset>
<button id="contine">Continue</button>
</form>

</div> <!-- /#confirm_profile -->
    
{% if show_delete %}
    <hr />
    <div id="delete_profile">
        <form id="delete_profile" method="get" action="{% secure %}{% url delete_profile username %}{% endsecure %}">
            <fieldset><legend>Delete Your Profile</legend>
                <p>You are in control of your data... Want to delete your profile and all your streams?</p>
                <button>Delete My Data</button>
        </form>
    </div><!-- /#delete_profile -->
{% endif %}

</div><!-- /#content -->
<script src="/static/js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="/static/js/stream_editor.js" type="text/javascript"></script>
{% endblock %}