<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %} sudoSocial {% endblock %}</title>
        <link href="{{css_url}}" type="text/css" rel="stylesheet">
        <link rel="icon" href="/static/img/favicon.png" type="image/png"> 
    </head>
    <body>
{% block content %}
{% endblock %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16311800-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<div id="release-footer"><a href="http://sudosocial.me"><strong><code>sudo</code>Social</strong></a> Version 0.3 &quot;Early, Often&quot; release</div>
    </body>
</html>