<div class="feed-delicious"><img class="favicon" src="http://delicious.com/favicon.ico" /> 
    {% if show_everything %} Delicious  {{ published_date }}
    {% if  time_ago %} and then updated {{ time_ago }} later {% endif %}
    by {{raw.author}}
   
   {% endif %}
    {% if showDescription %} <p class="description">{{ description|safe }}</p> {% endif %}
    <p class="link"><a href="{{ link }}">{{ title }}</a></p>
    {% if tags %}
    <div class="tag-area">
        <h6 class="tag-heading">Tags:</h6>
        <ul class="tags">
            {% for tag in tags %}
                <li><a href="{{tag.url}}">{{tag.tag}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <a class="permalink" href="{{permalink}}">#</a><hr />
</div>