{% extends "basic_template.html" %}
{% load common_tags %}
{% block title %}sudoSocial - sudo make me social{% endblock %}
{% block content %}
<nav id="global">
  <ul>
    <li><a href="http://www.drumbeat.org/project/sudosocial">Drumbeat Project</a></li>
    <li><a href="http://groups.google.com/group/mozilla-labs-sudosocial">Discuss sudoSocial</a></li>
    <li><a href="http://github.com/ozten/sudosocial">Developers</a></li>
  </ul>
</nav>
<div id="content" class="homepage">
    <div id="auth"><a href="{% secure %} {% url auth_or_editor %} {% endsecure %}">Login</a></div>
    <h1 class="logo"><strong><code>sudo</code>Social</strong></h1>
    <div class="tagline">Take control of your stream</div>
    <div class="copy">    
    <ul id="call-to-action">
        <p><strong><code>sudo</code>Social</strong> is an
        <!-- a href="http://mozillalabs.com/conceptseries/">Mozilla labs</a --> exeriment around
        building a stream publishing application. You can use sudoSocial
        to edit and control your homestream.</p>
    
        <li>Check out a <a id="basic-demo" href="/u/pattyokdemo/s/home">basic HomeStream</a></li>
        <li>Next, a customized stream, embedded via a script tag: <a id="embed-demo" href="http://ozten.com/index-demo.html">customized HomeStream</a></li>
        <li>Okay, <a id="create-homestream" href="{% secure %} {% url auth_or_editor %} {% endsecure %}">create your own HomeStream</a> and take control!</li>
    </ul>
    <div id="learn-more-sidebar">
<p><object width="640" height="480"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=12219674&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=12219674&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" type="application/x-shockwave-flash" width="640" height="480"></embed></object>
        
        </p>
    </div>
    </div>

</div><!-- /content -->
{% endblock %}
